{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <h1>Iniciar Sesión</h1>
        <table>
            {{ form.as_table }}
        </table>
        <br><br>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <p>¿No tienes cuenta? ¡¡Crea una aqui!!</p> <a href="{% url 'registro_usuario' %}" class="btn btn-outline-success">Registrarse</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock codigoDinamico %}