{% extends 'App/base.html' %}
{% block title %}Registro de Usuario{% endblock %}
{% block codigoDinamico %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <br><br><br>
        <h1>Registro de Usuario</h1>
        <br><br><br>
        <table>
            {{ form.as_table }}
        </table>
        <br><br>
        <div class="container">
            <button type="submit" class="btn btn-success">Registrarse</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}